@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');
body {
    background-color: darkgrey;
}

#header, footer{
    background-color: blue;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #396E94;

}
#destiny-img {
    padding:15px;
    align-items: center;
}
.game {
    width: 70%;
}
#destiny-msg{
    text-align: center;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a {
    text-decoration:none;
    text-align:center;
    padding: 20px;
}
nav {
    
    display: flex;
    align-items: center;
    justify-content:space-around; 
}

nav a:hover{
    color: black;
    
}
a {
    color: white;
    background-color: #396E94;
}
img {
    width: 70%;
    display: block;
    margin: 0 auto;
}
header {
    text-align: center;
    font-size: 1.5em;
    font-family: Comfortaa
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#rufus {
    grid-column: 2/3;
    grid-row: 1/2;
}

#fate {
    grid-column: 1/2;
    grid-row: 1/2;
}

main h2{
    text-align: center;
}

main p {
    width: 60%;
    margin:  5px auto 100px auto;
    padding: 25px;
    background-color: #396E94;
    color:white;
    font-size: 1.2em;
    line-height:1.5em;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 10px;
}
main{
    grid-template-columns: 1fr 1fr;
}





footer{
    background-color: #396E94;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Special ammo Page */
.content2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-right: 40px;
    justify-items: center;
}
#special-img {
    width: 100%;
    text-align: center;
    padding: 15px;
}
.special {
    width: 100%;
    margin-right: 40px;
}
.special-ammo {
    width: 50%;
}
#special-msg {
    text-align: center;
}

#eremite-img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
}

#fusion {
    grid-column: 1/2;
    grid-row: 1/2;
}

#forbearance-img {
    width: 100%;
    align-self: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

#grenade {
    grid-column: 1/2;
    grid-row: 2/3;
}
#eremite-msg p, #forbearance-msg p {
    width: 80%;
    margin: 50px;
}
#eremite-msgx, #forbearance-msg {
    text-align: center;
}
 
/*Power page*/

.content3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    margin-left: 75px;
}
.ammo-icon {
    text-align: center;
    width: 40%;
    padding-top: 20px;
}


#heavy-msg {
    text-align: center;
}

.linear {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 50px;
    width: 100%;
}

.rocket {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    margin-left: 50px;
}

#predator-msg {
    text-align: center;
}




