body{
    background-color: lightblue;
}
#content {
    max-width: 2000px;
}
#header, footer{
    background-color: gray;
}
.nav_link {
    padding: 10px;
    color:black;
    font-size: 1.3em;
}
nav {
    display: flex;
    justify-content:center; 
}
img {
    display: block;
    margin: 0 auto;
}
a {
    color: black;
    background-color:rgb(184, 178, 178);
}
nav a {
    text-decoration: none;
    text-align:center;
}
nav a:hover {
    color: white;
    background-color: gray;
}
p, h3{
    text-align: center;
}
#main_title{
    font-size:2.5em;
    text-align:center;
}
#subtitle {
    color: gold;
}
footer{
    padding: 20px;
}