@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Handlee&family=Sriracha&display=swap');
body{
    background-color: lightblue;
}
#header, footer{
    background-color: gray;
}
.nav_link {
    padding: 10px;
    color:black;
    font-size: 1.3em;
}
nav {
    display: flex;
    justify-content:center; 
}
img {
    width: 40%;
    display: block;
    margin: 0 auto;
}
a {
    color: black;
    background-color:rgb(184, 178, 178);
}
nav a {
    text-decoration: none;
    text-align:center;
}
nav a:hover {
    color: white;
    background-color: gray;
}
h1{
    font-family: 'Bungee Spice',Handlee;
}
header {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Bungee Spice', Handlee;
}
p, h3{
    text-align: center;
}
main p {
    width: 60%;
    margin: 5px auto;
    padding: 25px;
    background-color: rgb(130,155,191);
    color:white;
    font-size: 1.2em;
    line-height:1.5em;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 10px;
}
#main_title{
    font-size:2.5em;
    text-align:center;
}
#subtitle {
    color: gold;
}
footer{
    padding: 20px;
}